#Project Specific
_doc/_godot_docs_html_stable/
_doc/_media_footage
_doc/_system_design_primer_master/
_doc/agent_prompt/
_doc/agent_report/
_doc/fix_note/
agent_protocol.md
**/_disconnected/

# General
.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
Icon\r

# Resource forks
._*

# Files and directories that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.com.apple.timemachine.supported
.PKInstallSandboxManager
.PKInstallSandboxManager-SystemSoftware
.hotfiles.btree
.vol
.file
.disk_label*
lost+found
.HFS+ Private Directory Data\r

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Quota system
.quota.group
.quota.user
.quota.ops.group
.quota.ops.user

# TimeMachine
Backups.backupdb
.MobileBackups
.MobileBackups.trash
MobileBackups.trash
tmbootpicker.efi

# Godot 
.godot/
.nomedia
.import/
export.cfg
export_credentials.cfg
*.tmp
